:root {
  --gray: #F5F5F5;  
  --button-green: #00FF29;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

button {
  cursor: pointer;
}

body {
  margin: 0 80px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Revalia', cursive;
  font-weight: normal;
}

@media screen and (max-width: 767px) {
  body {
    margin: 0 10px;
  }
}